/* *{
    border: 1px solid firebrick
} */

/* main {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
} */



form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    /* flex: 1 1 50%; */
    /* text-align: center; */
    
}

#journalButton {
    text-align: center;
}

#submitButton {
    text-align: right;
}



.pastEntries {
    /* background-color: rgb(255, 203, 155);
} */
}

.past__block {
    margin: 0px;
}