/* *{
    border: 1px solid firebrick
} */

/* main {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
} */

fieldset {
    display: flex;
    flex-direction: column;
}

#journalButton {
    text-align: center;
}

#submitButton {
    text-align: right;
}
